<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OS</key>
	<dict>
		<key>Shadow</key>
		<string>000000</string>
		<key>Background</key>
		<string>970101</string>
		<key>Foreground</key>
		<string>afafaf</string>
		<key>Text</key>
		<string>ffffff</string>
	</dict>
	<key>NO</key>
	<dict>
		<key>Shadow</key>
		<string>f0f0f0</string>
		<key>Background</key>
		<string>76b2dd</string>
		<key>Foreground</key>
		<string>e43b1e</string>
		<key>Text</key>
		<string>ffffff</string>
		<key>TimeShadow</key>
		<string>999999</string>
	</dict>
	<key>IG</key>
	<dict>
		<key>Name</key>
		<string>Meridiana Fly</string>
		<key>Shadow</key>
		<string>f0f0f0</string>
		<key>Background</key>
		<string>ffffff</string>
		<key>Foreground</key>
		<string>d83526</string>
		<key>Text</key>
		<string>666666</string>
	</dict>
	<key>CZ</key>
	<dict>
		<key>Name</key>
		<string>China Southern</string>
		<key>Shadow</key>
		<string>666666</string>
		<key>Background</key>
		<string>00adef</string>
		<key>Foreground</key>
		<string>ffffff</string>
		<key>Text</key>
		<string>ffffff</string>
	</dict>
	<key>TG</key>
	<dict>
		<key>Shadow</key>
		<string>f0f0f0</string>
		<key>Background</key>
		<string>e3ba12</string>
		<key>Foreground</key>
		<string>4a245f</string>
		<key>Text</key>
		<string>666666</string>
	</dict>
	<key>PG</key>
	<dict>
		<key>Shadow</key>
		<string>f0f0f0</string>
		<key>Background</key>
		<string>ffffff</string>
		<key>Foreground</key>
		<string>003399</string>
		<key>Text</key>
		<string>666666</string>
	</dict>
	<key>KE</key>
	<dict>
		<key>Name</key>
		<string>Korean Air</string>
		<key>Shadow</key>
		<string>f0f0f0</string>
		<key>Background</key>
		<string>5db6e0</string>
		<key>Foreground</key>
		<string>00529c</string>
		<key>Text</key>
		<string>ffffff</string>
		<key>TimeShadow</key>
		<string>666666</string>
	</dict>
	<key>JAF</key>
	<dict>
		<key>Name</key>
		<string>Jetairfly</string>
		<key>Shadow</key>
		<string>f0f0f0</string>
		<key>Background</key>
		<string>99ccff</string>
		<key>Foreground</key>
		<string>ef0000</string>
		<key>Text</key>
		<string>363636</string>
	</dict>
	<key>AB</key>
	<dict>
		<key>Name</key>
		<string>Air Berlin</string>
		<key>Shadow</key>
		<string>f0f0f0</string>
		<key>Background</key>
		<string>ffffff</string>
		<key>Foreground</key>
		<string>cc1f2f</string>
		<key>Text</key>
		<string>666666</string>
	</dict>
	<key>SU</key>
	<dict>
		<key>Shadow</key>
		<string>f0f0f0</string>
		<key>Background</key>
		<string>ffffff</string>
		<key>Foreground</key>
		<string>02458d</string>
		<key>Text</key>
		<string>666666</string>
	</dict>
	<key>UN</key>
	<dict>
		<key>Shadow</key>
		<string>f0f0f0</string>
		<key>Background</key>
		<string>ffffff</string>
		<key>Foreground</key>
		<string>0061aa</string>
		<key>Text</key>
		<string>666666</string>
	</dict>
	<key>BA</key>
	<dict>
		<key>Name</key>
		<string>British Airways</string>
		<key>Shadow</key>
		<string>f0f0f0</string>
		<key>Background</key>
		<string>ffffff</string>
		<key>Foreground</key>
		<string>002b60</string>
		<key>Text</key>
		<string>666666</string>
	</dict>
	<key>LX</key>
	<dict>
		<key>Shadow</key>
		<string>363636</string>
		<key>Background</key>
		<string>c4121e</string>
		<key>Foreground</key>
		<string>ffffff</string>
		<key>Text</key>
		<string>ffffff</string>
	</dict>
	<key>WK</key>
	<dict>
		<key>Name</key>
		<string>Edelweiss Air</string>
		<key>Shadow</key>
		<string>363636</string>
		<key>Background</key>
		<string>313988</string>
		<key>Foreground</key>
		<string>de0029</string>
		<key>Text</key>
		<string>ffffff</string>
	</dict>
	<key>BY</key>
	<dict>
		<key>Shadow</key>
		<string>84ccf4</string>
		<key>Background</key>
		<string>84ccf4</string>
		<key>Foreground</key>
		<string>dd2331</string>
		<key>Text</key>
		<string>ffffff</string>
		<key>TimeShadow</key>
		<string>999999</string>
	</dict>
	<key>MU</key>
	<dict>
		<key>Shadow</key>
		<string>363636</string>
		<key>Background</key>
		<string>dc1a22</string>
		<key>Foreground</key>
		<string>ffffff</string>
		<key>Text</key>
		<string>ffffff</string>
	</dict>
	<key>WY</key>
	<dict>
		<key>Shadow</key>
		<string>363636</string>
		<key>Background</key>
		<string>a9aaac</string>
		<key>Foreground</key>
		<string>ffffff</string>
		<key>Text</key>
		<string>ffffff</string>
	</dict>
	<key>IC</key>
	<dict>
		<key>Shadow</key>
		<string>363636</string>
		<key>Background</key>
		<string>e78036</string>
		<key>Foreground</key>
		<string>ffffff</string>
		<key>Text</key>
		<string>ffffff</string>
	</dict>
	<key>DE</key>
	<dict>
		<key>Shadow</key>
		<string>cccccc</string>
		<key>Background</key>
		<string>ffcb00</string>
		<key>Foreground</key>
		<string>0451a1</string>
		<key>Text</key>
		<string>0451a1</string>
	</dict>
	<key>QR</key>
	<dict>
		<key>Shadow</key>
		<string>cccccc</string>
		<key>Background</key>
		<string>97b5d1</string>
		<key>Foreground</key>
		<string>72113d</string>
		<key>Text</key>
		<string>72113d</string>
	</dict>
	<key>SE</key>
	<dict>
		<key>Name</key>
		<string>XL Airways</string>
		<key>Shadow</key>
		<string>363636</string>
		<key>Background</key>
		<string>0f93d5</string>
		<key>Foreground</key>
		<string>ffffff</string>
		<key>Text</key>
		<string>ffffff</string>
	</dict>
	<key>UL</key>
	<dict>
		<key>Shadow</key>
		<string>363636</string>
		<key>Background</key>
		<string>ef6200</string>
		<key>Foreground</key>
		<string>ffffff</string>
		<key>Text</key>
		<string>ffffff</string>
	</dict>
	<key>Q2</key>
	<dict>
		<key>Shadow</key>
		<string>f0f0f0</string>
		<key>Background</key>
		<string>ffffff</string>
		<key>Foreground</key>
		<string>c0143c</string>
		<key>Text</key>
		<string>666666</string>
	</dict>
	<key>FM</key>
	<dict>
		<key>Shadow</key>
		<string>363636</string>
		<key>Background</key>
		<string>ef1c3f</string>
		<key>Foreground</key>
		<string>ffffff</string>
		<key>Text</key>
		<string>ffffff</string>
	</dict>
	<key>MH</key>
	<dict>
		<key>Shadow</key>
		<string>363636</string>
		<key>Background</key>
		<string>1a1883</string>
		<key>Foreground</key>
		<string>ffffff</string>
		<key>Text</key>
		<string>ffffff</string>
	</dict>
	<key>SQ</key>
	<dict>
		<key>Shadow</key>
		<string>363636</string>
		<key>Background</key>
		<string>003778</string>
		<key>Foreground</key>
		<string>e19f2d</string>
		<key>Text</key>
		<string>ffffff</string>
	</dict>
	<key>EK</key>
	<dict>
		<key>Shadow</key>
		<string>363636</string>
		<key>Background</key>
		<string>cd0140</string>
		<key>Foreground</key>
		<string>ffffff</string>
		<key>Text</key>
		<string>ffffff</string>
	</dict>
</dict>
</plist>
